.heading {
  color: rgba(30, 88, 255, 1);
  margin: 0;
  font-weight: 700;

  &__form {
    @extend .heading;
    margin: 15px 0;

    @media screen and (max-width: 1000px) {
      margin: 7px 0;
      padding: 0 10px;
      text-align: center;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 1000px) {
    margin: 7px 0;
  }

  &__view {
    @extend .heading;
    position: relative;
    margin: 0 50px;
    color: #000;

    &::before {
      z-index: -1;
      content: "";
      background-color: rgba(203, 83, 130, 0.4);
      height: 30px;
      width: 50px;
      top: 0px;
      left: -20px;
      position: absolute;
      border-radius: 4px;
    }
  }
}
