.nav {
  max-width: 40vw;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    list-style-type: none;
    text-align: center;
  }

  &__Link {
    text-decoration: none;
    color: #818181;
    text-transform: lowercase;
  }

  &__LinkActive {
    font-weight: 700;
  }
}
