.header {
  display: grid;
  grid-template-columns: 180px 1fr 150px;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  position: relative;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }

  &__img {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    @media screen and (max-width: 380px) {
      display: none;
    }
  }
}
